body {

background-image:  url('water.jpeg');
background-size: cover;
text-align: center;
font-family: 'Gloria Hallelujah', cursive;


}


h2 {

color:  #006400;
font-size: 65px;


}


button {
font-family: 'Gloria Hallelujah', cursive;
font-size: 25px;
background-color: #006400;
color: white;
padding: 20px;


}


#earth-form {

margin-top: 175px;

}
