body {

background-image:  url('water.jpeg');
text-align: center;
font-style: italic;
}


h2 {

color:  #006400;
font-size: 65px;


}


button {
font-style: italic;
font-size: 25px;
background-color: #006400;
color: white;
padding: 20px;


}


#earth-form {

margin-top: 175px;

}
